.Productcategory{
    margin: 0px;
    padding-top: 24px;
    
    
}


.GridImageStyle{
    
    

}

.GridColStyle{
    margin: 0px;
    padding: 0px;
    
}

.GridRowStyle{
    margin: 0px;
    padding: 0px;
}